.card {
  padding-top: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 150px;
  height: 200px;
  background-color: #78beff;
  border-radius: 10px;
  border: 1px solid #237acc;
}

.card:hover {
  background-color: #164c80;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid #237acc;
  cursor: pointer;
}

.movie-poster {
  display: flex;
  align-items: center;
  background-size: 150px 200px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.moviename {
  text-align: center;
}
