:root {
  --heading-font: "Poppins", sans-serif;
  --content-font: "Inter", sans-serif;
}

body {
  background-color: rgb(43, 152, 255);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
